<h1 style="text-align:center;">Contact Us</h1>
<hr>
<h2 style="text-align:center;">For More Information...</h2>
<hr>
<h3 style="text-align:center;">Email Id:  <span class="glyphicon glyphicon-envelope"></span></h3>
<h4 style="text-align:center;">project.shopingkart@gmail.com</h4>
<hr>
<h3 style="text-align:center;">Phone.No:  <span class="glyphicon glyphicon-phone"></span></h3>
<h4 style="text-align:center;"> +91-8888-7777-66</h4>
<hr>
<h3 style="text-align:center;">Address:  <span class="glyphicon glyphicon-home"></span></h3>
<h4 style="text-align:center;">International Institute of Information Technology,</h4>
<h4 style="text-align:center;">Gachibowli, Hyderabad 500 032,</h4>  
<h4 style="text-align:center;">Telangana, INDIA.</h4>  
<hr>