<h2 style="text-align:center;">Choose From Wide Variety Of Products</h2>

<div class="container">
    <div class ="row">
            <div class = "col-md-4 well" id = "image">
                <img src="{{bookes[i].volumeInfo.imageLinks.smallThumbnail}}" class="img-responsive" style="width:100%" alt="Image">
            </div>   
            <div class = "col-md-8">
                <div class="row ">
                    <div class="col-md-12 well" id="title">
                        <b>Title:</b>
                      {{bookes[i].volumeInfo.title}}
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-12 well" id="author">
                        <b>Author:</b>{{bookes[i].volumeInfo.authors}}
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-12 well" id="publisher">
                       <b>publisher:</b> {{bookes[i].volumeInfo.publisher}}
                    </div>
                </div> 
                <div class="row ">
                    <div class="col-md-12 well" id="description">
                        <b>Discription</b>{{bookes[i].volumeInfo.description}}
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-12 well" id="price">
                       <b>Price: </b> <b>{{bookes[i].saleInfo.listPrice.amount}}</b> <b> INR</b>

                    </div>
                </div>
                <div class="row ">
                    <div class = "col-md-6 well" id = "rating">
                            <fieldset class="rating">
                                    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                                    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                                    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                                    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                                    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                                    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                                </fieldset>
                    </div>
                    <div class="col-md-6 well" id="addtocart" align = "right">
                            <button type="button" class="btn btn-primary" id = 'addtocart'>Add to Cart</button>
                    </div>
                </div>
                <div class = "row">
                    <div class="col-md-6" align = "left" >
                      
                        <button type="button" class="btn btn-primary" id = 'previous' (click)="prevpressed()" *ngIf = "i > 0">Previous</button>
                    </div>
                    <div class="col-md-6" align="right" >
                        <button type="button" class="btn btn-primary" id = 'next' (click)="nextpressed()" *ngIf = "i < bookes.length-1">next</button>
                    </div>
                </div>  
            </div> 
                   
        </div>
        <hr>
        
  </div>