<div class="container">
    <div class ="row">
            <div class = "col-md-4 well" id = "image">
                <img src="{{book.volumeInfo.imageLinks.smallThumbnail}}" class="img-responsive" style="width:100%" alt="Image">
            </div>   
            <div class = "col-md-8">
                <div class="row ">
                    <div class="col-md-12 well" id="title">
                      {{book.volumeInfo.title}}
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-12 well" id="author">
                        {{book.volumeInfo.authors}}
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-12 well" id="publisher">
                        {{book.volumeInfo.publisher}}
                    </div>
                </div> 
                <div class="row ">
                    <div class="col-md-12 well" id="description">
                        {{book.volumeInfo.description}}
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-12 well" id="price">
                        {{book.saleInfo.listPrice.amount}}

                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-12 well" id="rating">
                    </div>
                </div>
            </div>          
        </div>
        <hr>
        <div class = "row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-primary" id = 'previous' onclick="prevpressed()">Previous</button>
                </div>
                <div class="col-md-6" align="right">
                    <button type="button" class="btn btn-primary" id = 'next' onclick="nextpressed()">next</button>
                </div>
            </div>
  </div>